:root {
  --font-family-base: 'Lato', sans-serif;
  --color-black: #222222;
  --color-white: #ffffff;
  --color-gray: #cccccc;
  --color-pink: #f16d7f;
  --color-light-pink: #f1e4e6;
  --container-width: 1140px;
  --container-padding-x: 38px;
}